html, body {
    width: 100%;
    min-width: 300px;
    margin: 0;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
}


#logo{
    width: 70%;
    height: auto;
}

#mainLogo{
  width: 100%;
  height: auto;
}

#basket{
    width: auto;
    height: 96px;
}

#userIcon{
    width: auto;
    height: 96px;
}

#subimg{
    padding-top: 4%;
    padding-bottom: 3%;
}

.banner {
    max-height: 20%;
    width: 100%;
    text-align:center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    min-width: 820px;
}

.topbanner{
    vertical-align: text-bottom;
    min-height: 50px;
    display: inline-block;
}

.topbanner.icon{
    width: 17.5%;
}

.topbanner.logo{
    width: 20%;
    text-align: left;
    padding-right: 11%;
}

.topbanner.basket{
    min-width: 150px;
    margin-left: 11%;
}

.bottombanner {
    text-align:center;
    width: 27.5%;
    height: 25%;
    min-height: 50px;
    border: 1px solid black;
    background: #A6000C;
    display: inline-block;
}

.mobileMenu{
    top: 25%;
    text-align: center;
    margin-left: 22.3%;
    width: 55.3%;
    min-height: 50px;
    border: 1px solid black;
    background: #3CB371;
}

#b{
    text-align:center;
    width: 22%;
    min-width: 100px;
    height: 100%;
    min-height: 50px;
    border: 1px solid black;
    background: #3C3C3C;
    display: inline-block;
}

#a:hover, #b:hover{
    background: #DA4246;
    cursor: pointer;
}

#b img{
  margin-right: 6px;
}

h1 {
    display: inline-block;
    color: #FFF;
    font-family: 'Lato';
    font-size: 36px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    text-align: center;
    position: relative;
}

h2 {
    display: inline-block;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    text-align: center;
    position: relative;
}

h2:hover {
    display: inline-block;
    color: #DA4246;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    text-align: center;
    position: relative;
    text-decoration: underline;
}

h3 {
    margin: 0;
    margin-top: 2px;
    display: block;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 400;
    line-height: 60px;
    min-width: 18%;
    display: inline-block;
    position: relative;
}

h4 {
    margin: 0;
    width: 100%;
    color: #000;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
}

subbanner.bottom{
    padding-bottom: 0.5%;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    text-align: center;
}

#progressbanner{
    margin-top: 11%;
    text-align: center;
}

#progressimg{
    width: 50%;
    height: auto;
}