@media only screen
and (max-device-width: 650px)
and (-webkit-min-device-pixel-ratio: 2) {
#tablet, #main{
    display: none;
}
}

@media only screen
and (min-device-width: 651px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
#mobile, #main{
    display: none;
}
}

@media only screen
  and (min-device-width: 1025px)
  and (-webkit-min-device-pixel-ratio: 1) {
  #mobile, #tablet{
    display: none;
}
}

@media screen and (orientation:landscape) {
.banner {
}
}

@media screen and (orientation:portrait) {
.banner {
}
}